doctype html
html
    head
        title Ноль/не ноль :)
        meta(charset='utf-8')

        link(href='/public/images/favicon.ico', rel='icon', type='image/x-icon')
        link(href='/public/css/main.css', rel='stylesheet')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
        script(src='/public/js/start.js')
        link(rel="stylesheet", href="/public/css/main.css")

    body
        block content